.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 100vh;
  position: fixed;
  left: 0;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}
.image {
  position: fixed;
  top: 4vh;
  left: 3.5vw; /* metade de 7vw */
  transform: translateX(-50%);
}

/* styles/layout.module.css */

.iconWrapper {
  position: relative;
  display: inline-block;
}

.iconWrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: #01ddf5;
  transition: transform 0.3s ease;
}

.iconWrapper:hover::after {
  transform: translateX(-50%) scaleX(1);
}

@media (min-width: 1441px) {
  .image {
    height: 65px;
    width: 65px;
  }
}
@media (max-width: 1024px) {
  .container {
    flex-direction: row;
    width: 100%;
    height: 7vh;
    top: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .image {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: row;
    width: 100%;
    height: 7vh;
    top: 0;
    background-color: #000;
    border: none;
    z-index: 1000;
    margin: 0px;
    box-shadow: none;
  }
  .image {
    display: none;
  }
}
