.container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 100vh;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0;
}
@media(max-width: 768px){
    .container{
        width: 9vw;
        background-color: rgb(255, 255, 255);
    }
}