.container {
    min-height: 100vh;
    background-color: #f3f4f6;
  }
  
  .customCalendar :global(.fc-toolbar) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
  }
  
  /* Aplica a margem lateral esquerda apenas em telas maiores */
  @media (min-width: 1024px) {
    .container {
      margin-left: 7%;
    }
  }


  @media (max-width: 768px) {
    .container{
        height: 100vh;
    }
    .customCalendar :global(.fc-toolbar) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2vh;
    }
  
    .customCalendar :global(.fc-toolbar .fc-toolbar-chunk) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .customCalendar :global(.fc-toolbar-title) {
      font-size: 1.1rem;
    }
  
    .customCalendar :global(.fc-button) {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
    }
    .customCalendar :global(.fc) {
        height: 100vh;
      }
  }
  