.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .card {
    background-color: #0f172a;
    margin-top: 4rem;
    color: white;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .title {
    font-size: 1.875rem; /* text-3xl */
  }
  
  .description {
    font-size: 0.875rem;
    color: #ccc;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .inputGroup {
    display: grid;
    gap: 0.5rem;
  }

  .inputs{
    border-radius: 6px;
  }
  
  .labelRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .forgotPassword {
    font-size: 0.875rem;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
  }
  
  .button {
    width: 150px;
    background-color: #00bcd4;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .button:hover{
    background-color: #00bbd4ab;
  }